$defultFontSize: 16px;
$primary-color : #0098d3;
$primary-color-hover:#0280b3;

$menu_color: #252527;


$font-light:#FFFFFF;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-light: #252527;
$font-dark: #000;



$border-light:#FFFFFF;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-light: #252527;
$border-dark: #000;

$background-light:#FFFFFF;
$background-grey-light: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;

$background-success: #84b84c1f;
$background-error: #ff00001f;

$success: #84b84c;
$error: #f00;


$media-breackpint-down-xs: 413.98px;
$media-breackpint-down-sm: 573.98px;
$media-breackpint-down-md: 767.98px;
$media-breackpint-down-lg: 991.98px;
$media-breackpint-down-xl: 1199.98px;

$media-breackpint-down-xs: 320px;
$media-breackpint-down-sm: 576px;
$media-breackpint-down-md: 768px;
$media-breackpint-down-lg: 992px;
$media-breackpint-down-xl: 1200px;



