@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  

  button {
    color: $primary-color;

    &:hover {
      color: $primary-color;
    }

    &:focus,
    &:active {
      color: $font-grey-light;
    }
  }

  &__left {
    &-logo {
      width: 80px;
      padding: 0 10px;
    }
  }

  &__right {
    position: absolute;
    right: 0;

  }
}
